{% extends "posts/base.jinja2" %}

{% block content %}
    <div class="body-content">
        <div class="article-list-section">
            <div class="article-list-head head">
                <span>最新文章</span>
            </div>

            <div class="article-list-container container article-list">
                <ul>
                    {% for post in posts %}
                        <li>
                            <a href="{{ url_for('post', slug=post.slug) }}" class="title">{{ post.title }}</a>
                            <span class="right">
                            <span class="author">{{ post.author.last_name }}{{ post.author.first_name }}</span>
                            <span class="timestamp">{{ post.created_at | strftime('%Y-%m-%d %H:%M') }}</span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}
