<div class="post-comment-meta">
    <div class="comment-author">
        <a href="{{ comment.author_site }}">{{ comment.author_name }}</a>
    </div>

</div>
<div class="comment-content">
    {{ comment.content | safe }}
</div>
{% with comment.children.all as children %}
    {% if children %}
        <div class="comment-children">
            {% for c_child in children %}
                <div class="comment comment-{{ c_child.id }}">
                    {% with 'posts/snippets/comment.html' as template_name %}
                        {% include template_name with comment=c_child %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}