<!-- footer begin -->
<div class="footer">
    <div class="site-desc">
        <p>
            &copy;2019{% if BLOG_MASTER %} {{ BLOG_MASTER }}{% endif %}
            <span>|</span>
            <span class="powered">
                Powered by <a href="https://github.com/zengxs/fairy">fairy</a>
                <span>|</span>
                Theme by <a href="https://rust.cc">forustm</a>
            </span>
        </p>
    </div>
</div>
<!-- footer end -->
