<div class="text-muted text-center">
    <span class="copyright">
        &copy; 2019{% if BLOG_MASTER %} {{ BLOG_MASTER }}{% endif %}
    <span>
    <span>|</span>
    <span class="powered">
        Powered by <a href="https://github.com/zengxs/fairy">fairy</a>
    </span>
</div>
