<div class="text-muted text-center">
    <span class="copyright">
        &copy; 2019{% if BLOG_MASTER %} {{ BLOG_MASTER }}{% endif %}
    <span>
    <span>|</span>
    <span class="powered">
        Powered by <a class="text-muted text-decoration-none" href="https://github.com/zengxs/fairy">fairy</a>
    </span>
    <span>|<span>
    <span class="rss">
        <a class="text-muted text-decoration-none" href="#todo">
            <i class="fa fa-rss"></i>
            RSS
        </a>
    </span>
    <span>|<span>
    <span class="sitemap">
        <a class="text-muted text-decoration-none" href="#todo">
            <i class="fa fa-sitemap"></i>
            Sitemap
        </a>
</div>
