<nav class="navbar navbar-expand-md navbar-light" role="navigation">
    {# brand #}
    <a class="navbar-brand" href="{{ url_for('index') }}">
        {% if BLOG_TITLE %}
            {{ BLOG_TITLE }}
        {% else %}
            Fairy
        {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-collapsible" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {%- for page in Post.objects.filter(is_public=true, is_page=true).order_by('-created_at').all() %}
                {# 检查是否为此 page 页面 -#}
                {%- set url_match = request.resolver_match %}
                {%- if url_match.view_name == 'page' %}
                    {%- if url_match.kwargs.get('slug') == page.slug %}
                        {%- set current_active = true %}
                    {%- else %}
                        {%- set current_active = false %}
                    {%- endif %}
                {%- endif %}
                <li class="nav-item {% if current_active %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('page', slug=page.slug) }}">{{ page.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</nav>
