{% extends "posts/base.html" %}

{% block content %}
    <style>
        .comment-children {
            margin-left: 10px;
        }

        .post-section:not(:last-of-type) {
            border-bottom: solid 1px #000000;
        }
    </style>
    <div class="post post-{{ post.id }}">
        <div class="post-section post-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="post-section post-meta">
            <div class="post-author">
                {{ post.author.username }}
            </div>
            <div class="post-create-time">
                创建于
                <time>{{ post.created_at }}</time>
            </div>
            <div class="post-update-time">
                编辑于
                <time>{{ post.updated_at }}</time>
            </div>
            <div class="post-category">
                {{ post.category.name }}
            </div>
        </div>
        <div class="post-section post-content">
            {{ post.content | safe }}
        </div>
        <div class="post-section post-tags">
            <ul class="post-tags-list">
                {% for tag in post.tags.all %}
                    <li class="post-tag">{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="post-section post-comments">
            {% for comment in post.comments %}
                <div class="comment comment-{{ comment.id }}">
                    {% include "posts/snippets/comment.html" with comment=comment %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
